*{margin, padding, border: 0px;}

.img-logo{
	width: 8%;
}

.navbar{
	background-color: #fff;	
}

.navbar-brand{
	padding: 0px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand:visited{
	color: #92683C;
}

.navbar-default .navbar-nav>li>a{
	color: #000;
}
